

<ng-container *ngIf="bLogin==true;then displayLoginForm; else displayRegistrationForm"></ng-container>
<ng-template #displayLoginForm>
  <form class="login">
    <h2>Welcome, User!</h2>
    <p>Please log in</p>
    <input type="text" placeholder="User Name" name="user" [(ngModel)]="user"/>
    <input type="password" placeholder="Password" name="pwd"  [(ngModel)]="pwd" />
    <button (click)="searchUser()">Login</button>
    <div class="links">
      <a href="#" ><button style="text-decoration: underline;" (click)="displayRegistration()">Register</button></a>
    </div>
  </form>
  
</ng-template>

<ng-template #displayRegistrationForm>
  <form class="login">
    <h2>Sign Up</h2>
    <p>To get access to our content.</p>
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Last Name" />
    <input type="text" placeholder="Email" />

    <input type="password" placeholder="Password" />
    <button (click)="addUser()">Sign Up</button>
    <div class="links">
      <a href="#" ><button style="text-decoration: underline;" (click)="displayLogin()">Login</button></a>
    </div>
  </form>

</ng-template>

