
    <div class="container-fluid" id="banner" [ngStyle]="{'background-image':'url('+cafe.banner+')'}">
        <h2 id="heading" style="font-size:40px;color:rgb(126, 160, 172)">{{cafe.name}}</h2>
    </div>
    <div class="container-fluid" id="main">
        <div class="container">
    
            <div class="container-fluid" id="description">
                
                
                        <h4 style="text-align: center;">Description</h4>
                        <p>{{cafe.description}}</p>
  
                
                <h4 style="text-align: center;">Cost per Person</h4>
                <p style="padding-left:30px;text-align: center;">₹{{cafe.avg_cost}}/ Person</p>
            </div>
            <div class="container-fluid" id="menu">
                <h4 style="text-align: center;">MENU</h4>
                <div class="grid-container">
                    <div class="grid-item" *ngFor="let x of cafe.menu; index as i">
                        <img [src]="x" height="150px" width="150px" id="menupage" (click)="openPopup(i)">
                        
                                    <!-- Vertically centered modal -->
                                    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[i]}">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Menu Card</h4>
                                                    <button type="button" class="btn btn-danger" (click)="closePopup(i)">
                                                        Close
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>any content here...</p>
                                                    <img [src]="x" alt="flipped-edge-solution"/>
                                                </div>
                                                <!-- 
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" (click)="closePopup(i)">
                                                        Close
                                                    </button>
                                                </div>
                                                -->
                                            </div>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  




