<div class="container-fluid" id="banner">
    <div class="center">
        <h2>Enjoy Delicious meals and Beverages Near You.</h2>
    </div>
</div>
<div class="container-fluid" id="heading">
    <h2 style="text-align:center; padding-bottom: 40px; color:aliceblue;font-size:50px" >Cafes</h2>
    <div class="container-fluid" id="cardcarousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/cafe_nosh.avif" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Cafe Nosh</h5>
                              <p class="card-text">The Nosh House is all about slowing down for just a little bit.</p>
                               <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(101)">Let's Go</button></a>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                          <img src="../../assets/hole_in_wall.avif" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">The Hole in the Wall Café</h5>
                            <p class="card-text">We offer a homely, no-frills ambience and dine-in experience.</p>
                            <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(102)">Let's Go</button></a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                          <img src="../../assets/cafe_matteo.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Matteo Coffea</h5>
                            <p class="card-text">The cafe is one of the oldest cafe in Bangalore and was opened during the British era.</p>
                            <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(103)">Let's Go</button></a>

                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/dr_sheesha.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dr Sheesha</h5>
                              <p class="card-text"> Dr Sheesha as name tells it's a famous Sheesha place in JP Nagar with good roof.</p>
                              <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(104)">Let's Go</button></a>

                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                          <img src="../../assets/Marzipan.avif" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Marzipan Café and Bakery</h5>
                            <p class="card-text">Marzipan Cafe And Bakery aces with their Greek Moussaka and stellar desserts.</p>
                            <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(105)">Let's Go</button></a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                          <img src="../../assets/little_green.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Little Green Café</h5>
                            <p class="card-text">As the name suggests, thus cafe is 'Little' in its area but is effectively utilised</p>
                            <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(106)">Let's Go</button></a>

                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col">
    
                        <div class="card" style="width: 18rem;">
                            <img src="../../assets/154_breakfast.jfif" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">154 Breakfast Club</h5>
                              <p class="card-text">154 Breakfast Club - A community for startups, adventurers, students, entrepreneurs.</p>
                              <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(107)">Let's Go</button></a>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                          <img src="../../assets/Glens_bakehouse.jfif" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Glen’s Bakehouse</h5>
                            <p class="card-text">Glen's Bakehouse in Indiranagar is a quaint and charming cafe.</p>
                            <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(108)">Let's Go</button></a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                          <img src="../../assets/dyu_cafe.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Dyu Art Café</h5>
                            <p class="card-text">Cafe & gallery serving global dishes in a calm, rustic space with wood paneling.</p>
                            <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(109)">Let's Go</button></a>

                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
     
          </div>
    </div>
</div>
<div class="container-fluid" id="heading2">
    <h2 style="text-align:center; padding-top:30px; padding-bottom: 10px;color:aliceblue;font-size:50px">Restaurants</h2>
<div class="container-fluid" id="cardcarousel2">
  
    <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/the_only_place.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Only Place</h5>
                          <p class="card-text">Straightforward mainstay serving American classics such as burgers, steaks, sandwiches.</p>
                          <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(110)">Let's Go</button></a>

                        </div>
                      </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/truffles.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Truffles Koramangla</h5>
                        <p class="card-text">At truffles, we follow a simple mantra - 'Strive for continuous improvement</p>
                        <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(111)">Let's Go</button></a>

                      </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/treat.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Treat Restaurant</h5>
                        <p class="card-text">This casual dining is the perfect destination for tantalizing North Indian</p>
                          <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(112)">Let's Go</button></a>

                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/koshy.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Koshy's</h5>
                          <p class="card-text">Koshy's is a F&B-Casual Dining restaurant that offers a wide variety</p>
                             <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(113)">Let's Go</button></a>

                        </div>
                      </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/mavalli.jfif" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mavalli Tiffin Room</h5>
                        <p class="card-text">A legendary name in South Indian comfort food, this super-popular eatery.</p>
                          <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(114)">Let's Go</button></a>

                      </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/shri_sagar.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Shri Sagar CTR</h5>
                        <p class="card-text">This place has been around for more than 25 years and has seen many celebrations.</p>
                         <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(115)">Let's Go</button></a>

                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/nagarjuna.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Nagarjuna</h5>
                          <p class="card-text">Nagarjuna is a fine dining outlet located in the heart of the city.</p>
                          <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(116)">Let's Go</button></a>

                        </div>
                      </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/toit.jfif" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Toit</h5>
                        <p class="card-text">Brick-walled microbrewery offering naturally crafted beers, hearty pub</p>
                         <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(117)">Let's Go</button></a>

                      </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/humming.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">The Humming Tree</h5>
                        <p class="card-text">The Humming Tree is a music venue & bar for music lovers in Bangalore, India.</p>
                           <a routerLinkActive="active" routerLink="/Explore" class="btn btn-primary"><button class="btn btn-primary" (click)="setID(118)">Let's Go</button></a>

                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        

       
      </div>
    </div>
</div>
